<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">S3E</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3333/" target="_blank">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:9999/" target="_blank">Crawler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8888/" style="color: #345280">Indexer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>